/* Style de base pour le mode clair */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }
}

/* Style pour les icônes */
svg {
    width: 20px; /* Taille réduite */
    height: 20px; /* Taille réduite */
}

/* Toggle bouton thème */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Pour s'assurer que le texte est bien visible */
h1, p {
    text-align: center;
    margin-top: 50px;
}
